@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/products.css");
@import url("sections/about.css");
@import url("sections/faq.css");
@import url("sections/contact.css");
@import url("sections/footer.css");
@import url("sections/pd.css");
@import url("sections/cart.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}