.aboutus-con{
    text-align: center;
    
}
.aboutus-con{
    margin-top: 170px;
}
.abt{
    border-radius: 10px;
    cursor: pointer;
    border: 10px;
    rotate: 10deg;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.abt:hover{
    box-shadow: rgb(255, 165, 0) 0px 30px 60px -12px, rgb(255, 165, 0) 0px 18px 36px -18px;
    transition: 0.2s ease;
}
.about_sec{
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #ececec;
    
}
.b-logo{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 6px solid #000;
}
.b-logo img{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}
.abt-footer{
    background-color: #000;
    width: 100%;
}
#abt_1{
  line-height: 3rem;
}
#abt_2 {
    font-size: 16px;
    padding: 12px;
    line-height: 2rem;
    text-align: center;
}
#abt_2 h2{
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}