.contactcontainer{
    display: flex;
    justify-content: space-between;
    margin: 80px 20px;
    height: 60vh;
    font-family: 'Urbanist', sans-serif;
}

.con-details{
    text-align: center;
    
}
#con1{
    background-image: url(/assets//con2.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    color: #fff;
}
#con2{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    width: 58%;
    padding: 20px;

}
.inpt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
textarea{
    width: 100%;
    padding: 5px;
    font-family: 'Urbanist', sans-serif;
    outline: none;
    border: 1px solid #000;
    outline: none;
}

.inpt input{
    border-radius: 50px;
    padding: 5px 20px;
    border: 1px solid black;
    outline: none;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}
.con-details{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    padding: 5px 5px;
    margin: 10px 10%;
    color: #FFA500;
}