.fea-prdcts{
    font-family: 'Urbanist', sans-serif;
    
  }
  .prdts-sec{
    margin: 50px;
  }
  .prdts-sec h2{
      text-align: center;
      padding: 20px;
      margin-bottom: 20px;
  }
  .card {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      width: 260px;
      font-family: 'Urbanist', sans-serif;
      overflow: auto;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      position: relative;
    }
    .card:hover{
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      
    }
    .card h1{
      font-size: 18px;
      color: #000;
      padding: 10px;
    }
   
    .price {
      color: grey;
      padding-top: 12px;
  
    }
    

    .detls{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      padding: 10px;
     
    }
  
    .prdcts-list{
     display: grid;
     grid-template-columns: repeat(3, 223px);
     gap: 60px;
     justify-content: center;
     
    }
    #inStock{
      color: rgb(25, 236, 25);
      
    }
.star{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.fa-star{
  color: #FFA500;
}

    